*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
.trainSectionWrapper{
    /* border:2px solid black; */
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1024px;
}
/* left section */
.leftSection{
    width:50%;
    padding: 50px 40px;   
    display: flex;
    flex-direction: column;
}
/* navigation  */
nav{
    /* border:2px solid blue; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 80px;
}
.logoContainer{
    display: flex;
    gap:20px;
}
.logoContainer img{
    width:70px;
    height:70px;
    object-position: center;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.navigation ul{
    display: flex;
    gap:20px;
}
.navigation button{
    padding: 4px 10px;
    background-color: #fff;
    border:1px solid lightgray;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}
.navigation .selected{
    background-color: rgba(255, 68, 0, 0.822);
    border-color: rgba(255, 68, 0, 0.822);
    color:#fff;
}
.navigation ul li:hover{
    cursor: pointer;
}
/* right section */
.rightSection{
    width:50%;
    height:auto;
}
.rightSection img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
/* main section */
main{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.titles{
    /* border:2px solid red; */
}
.mainTitle{
    font-size:40px;
    margin-bottom: 20px;
}
.subTitle{
    /* border:2px solid blue; */
    display: flex;
    gap:14px;
    font-size: 27px;
}
.subTitle .greenTitle{
    color:green;
}
.subTitle .orangeTitle{
    color:orange;
}
.subTitle .blueTitle{
    color:blue;
}
.buttonWrapper{
    /* border:2px solid green; */
    display: flex;
    gap:15px;
}
.buttonWrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    background-color: transparent;
    border:1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.buttonWrapper .selected{
    border-color: #213d77;
    background-color: #213d77;
    color: white;
}
/* Journey details container */
.journeyDetailsContainer{
    /* border:2px solid black; */
}
.journeyDetailsTopContainer{
    border: 1px solid lightgray;
    padding: 15px 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly
}
.trainFrom{
    /* border:2px solid black; */
    display: flex;
    align-items: center;
}
.trainFromImgContainer{
    width:40px;
    height:40px;
}
.trainTo{
    /* border:2px solid black; */
    display: flex;
    align-items: center;
}
.trainToImgContainer{
    width:40px;
    height:40px;
}
.trainFromDetails{
    display: flex;
    flex-direction: column;
    gap:5px;
    cursor: pointer;
}
.dropdown{
    /* border:2px solid black; */
    display: flex;
    align-items: center;
    color:grey;
}
/* .location{
    font-size: 12px;
    color:grey;
} */
.journeyDetailsBottomContainer{
    border:1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    margin: 10px;
}
/* search train button */
.searchBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    font-weight: 700;
    background-color: #01BB0A;
    padding: 15px 0;
    font-size: 20px;
    color:#fff;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}